/* 上下 左右 or 上、右、下、左(時計回り) */
/* BASE */
* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    color: #666;
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0 10px;
    background: #FFF;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 13px;
    *font-size: small;
    *font: x-small;
}
p
{
    margin: 0.8em 10px;
}
h1,
h2,
h3{
    margin: 0.8em 10px;
    line-height: 1.2;
}
h1 a{
    display: block;
    width: 253px;
    height: 49px;
    background: transparent url(/images/cb_logo.jpg) 0 0 no-repeat;
    text-indent: -9999px;
    overflow: hidden;
}
div#subtitle{
   margin: 0 10px; 
}
div#header .title{
    color: #6B492D;
}
div#sitename{
    position: relative;
}
div#ruby{
    top: 22px;
    left: 265px;
    position: absolute;
}
h2,
#error_explanation{
    color: #cd4730;
}
h2{
    font-size: 120%;
}
h3{
    margin: 1.2em 10px 0.2em 10px;
    font-size: 110%;
}
a:link{
    color: #666;
    text-decoration:none;
}
a:visited{
    color: #666;
    text-decoration:none;
}
a:hover{
    color: #cd4730;
}
ul,
ol,
dl{
    margin: 0.8em 10px;
    padding: 1px 10px;
    list-style-position: inside;
}
dt,
dt label
{
    color: #8B4513;
}
dt
{
    margin: 0.4em 10px 0 10px;
}
dd{
    margin: 0 10px;
}
dd p{
    margin: 0 0;
}
/* BASE */
div#header,
div#content,
div#footer{
    margin: auto;
    width: 900px;
    background-color: #FFFFFF;
    text-align: left;
}
div#image{
    float: left;
    width: 550px;
    background-color: #FFFFFF;
}
div#main{
    float: right;
    width: 342px; 
    background-color: #FFFFFF;
}
div#header{
    padding-top: 6px;
    position: relative;
}
div#header h1{
    margin: 0 8px;
}
div#header ul {
    margin: 0 10px;
    padding: 10px 0;
}
div#header ul:after{
    height: 0;
    visibility: hidden;
    content: ".";
    display: block;
    clear: both;
}
div#header li{
    float: left;
    width: 125px;
    list-style-type: none;
}
div#content:after{
    height: 0;
    visibility: hidden;
    content: ".";
    display: block;
    clear: both;
}
div#copyright address{
    padding: 10px 0;
}
p.listalign{
    margin: 0.8em 20px;
    padding: 1px 10px;
}
#inputform input,
#inputform textarea{
    border:1px solid #DDD;
    color:#666666;
    padding:4px 2px;
}
