<h2>Concept</h2>
<h3>素材と製法</h3>
<p>国産小麦と天然酵母を中心として、そのパンが一番おいしく食べられる材料を厳選しています。もちろんすべて無添加。クリームや餡も手作りです。<br />
天然酵母を使用し長時間発酵させることにより素材のうまみと甘みを引き出し、翌日もおいしく食べていただけます。</p>
<h3>ハード系パンへのこだわり</h3>
<p>クープバゲットでは毎日ハードパン(フランスパン)も毎日焼いています。<br />
ハードパンは日本では馴染みがなく、あまり普及していないパンです。しかし、ハードパンは粉と塩しか使わない一番シンプルで味わい深いパンです。<br />
シンプルゆえに、料理にも合わせやすくアレンジも自在です。<br />
クープバゲットではそんなハード系パンのおいしい食べ方も紹介していますので、お気軽にお尋ねください。</p>
