<h2>Concept</h2>
<p>シンプルでナチュラルなパンをすべて手作りで。</p>
<h3>素材と製法</h3>
<p class="listalign">国産小麦と天然酵母を中心として、そのパンが一番おいしく食べられる材料を厳選しています。もちろんすべて無添加。クリームや餡も手作りです。<br />
天然酵母を使用し長時間発酵させることにより素材のうまみと甘みを引き出し、翌日もおいしく食べていただけます。</p>
<h3>ハードパンへのこだわり</h3>
<p class="listalign">クープバゲットでは毎日ハードパン(フランスパン)も毎日焼いています。<br />
ハードパンは日本では馴染みがなく、あまり普及していないパンです。しかし、ハードパンは粉と塩しか使わないシンプルで味わい深いパンです。<br />
シンプルであるがゆえに、料理にも合わせやすくアレンジも自在です。<br />
クープバゲットではそんなハードパンのおいしい食べ方も紹介していますので、お気軽にお尋ねください。</p>
