<h2>Menu</h2>
<dl>
    <dt>山型食パン (1斤)</dt>
    <dd>700円 *</dd>
    <dt>カンパーニュ (プレーン)</dt>
    <dd>600円 *</dd>
    <dt>カンパーニュ (チーズ入り)</dt>
    <dd>700円 *</dd>
    <dt>バゲット</dt>
    <dd>350円</dd>
    <dt>ベーグル</dt>
    <dd>150円</dd>
    <dt>菓子パン </dt>
    <dd>150円</dd>
</dl>
<p class="note">
* ハーフサイズはそれぞれ半額です。
</p>
