<h2>Shop Info</h2>
<h3>アクセス</h3>
<dl>
    <dt>Address</dt>
    <dd><address>兵庫県西脇市板波町51-7</address> 
    <a href="http://maps.google.co.jp/maps?f=q&amp;source=embed&amp;hl=ja&amp;geocode=&amp;q=%E5%85%B5%E5%BA%AB%E7%9C%8C%E8%A5%BF%E8%84%87%E5%B8%82%E6%9D%BF%E6%B3%A2%E7%94%BA%EF%BC%95%EF%BC%91%E2%88%92%EF%BC%97&amp;aq=0&amp;sll=34.689441,135.192462&amp;sspn=0.009228,0.0159&amp;vpsrc=0&amp;brcurrent=3,0x35553504aea813cd:0xa5c28b276d14afd9,0,0x35553504aea813cd:0x968ea09456c678a7&amp;ie=UTF8&amp;hq=&amp;hnear=%E5%85%B5%E5%BA%AB%E7%9C%8C%E8%A5%BF%E8%84%87%E5%B8%82%E6%9D%BF%E6%B3%A2%E7%94%BA%EF%BC%95%EF%BC%91%E2%88%92%EF%BC%97&amp;t=m&amp;ll=34.965311,134.971762&amp;spn=0.021101,0.025749&amp;z=14&amp;iwloc=A" target="_blank">[Map]</a></dd>
    <dt>Tel</dt>
    <dd><address>0795-27-7032</address></dd>
    <dt>Parking</dt>
    <dd>2台<br />
        * 当店西隣の敷地は私有地です。駐車はご遠慮ください。
    </dd>
</dl>
<h3>営業時間</h3>
<dl>
    <dt>金・土</dt>
    <dd>11:00&#xFF5E;16:00<br />
        * 売り切れ次第終了します。
    </dd>
    <dt>月&#xFF5E;木</dt>
    <dd>オーダーのみ</dd>
</dl>
<h3>オーダーについて</h3>
<p class="listalign">オーダー可能なパンは山型食パン、バゲット、カンパーニュの3種類です。<br />
お渡し日の2日前までにご連絡ください。</p>
