<% content_for :content do %>
        <div id="image">
            <div id="imagebypage">
                <%= yield %>
            </div>
        </div>
        <div id="main">
        </div>
<% end %>
<%= render :file => 'layouts/application' %>

