<% content_for :content do %>
        <div id="image">
            <div id="imagebypage">
                <%= image_tag action_name + ".jpg", size: "550x367" %>
            </div>
            <div id="copyright">
                <address>Copyright (C) Coupé Baguette All rights reserved.</address>
            </div>
        </div>
        <div id="main">
            <%= yield %>
        </div>
<% end %>
<%= render :file => 'layouts/application' %>

